<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YAYA Fundamentals</title>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/lioshi.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
	
	<link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="icon" sizes="192x192" href="/mobile_icon.png">

	<meta property="og:type" content="website"/>
	<meta property="og:title" content="YAYA Fundamentals"/>
	<meta property="og:description" content="A guide to the YAYA programming language."/>
	<meta property="og:url" content="https://zichqec.github.io/YAYA_Fundamentals/"/>
	<meta property="og:image" content="https://zichqec.github.io/YAYA_Fundamentals/banner.png"/>
	
	
</head>