<span class="openbtn" onclick="openNav()">&#9776;</span>

<nav>
<div id="sidenav" class="navbar">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<a href="https://zichqec.github.io/s-the-skeleton/">Main Site</a>
	<a href="{{ "/README.html" | prepend: site.baseurl }}">About</a>

	<button class="accordion">Module 00 - Overview</button>
	<div class="panel">
		<a href="{{ "/module_00_overview/00_what_is_this_guide.html" | prepend: site.baseurl }}">00 - What is this guide</a>
		<a href="{{ "/module_00_overview/01_what_is_yaya.html" | prepend: site.baseurl }}">01 - What is YAYA</a>
		<a href="{{ "/module_00_overview/02_initial_setup.html" | prepend: site.baseurl }}">02 - Initial Setup</a>
		<a href="{{ "/module_00_overview/03_more_options_in_yaya.txt.html" | prepend: site.baseurl }}">03 - More Options in yaya.txt</a>

	</div>

	<button class="accordion">Module 01 - Basic Building Blocks</button>
	<div class="panel">
		<a href="{{ "/module_01_basic_building_blocks/00_function_structure.html" | prepend: site.baseurl }}">00 - Function Structure</a>
		<a href="{{ "/module_01_basic_building_blocks/01_calling_functions.html" | prepend: site.baseurl }}">01 - Calling Functions</a>
		<a href="{{ "/module_01_basic_building_blocks/02_comments.html" | prepend: site.baseurl }}">02 - Comments</a>
		<a href="{{ "/module_01_basic_building_blocks/03_data_types.html" | prepend: site.baseurl }}">03 - Data Types</a>
		<a href="{{ "/module_01_basic_building_blocks/04_variables.html" | prepend: site.baseurl }}">04 - Variables</a>
		<a href="{{ "/module_01_basic_building_blocks/05_operators.html" | prepend: site.baseurl }}">05 - Operators</a>
		<a href="{{ "/module_01_basic_building_blocks/06_order_of_operations.html" | prepend: site.baseurl }}">06 - Order of Operations</a>
		<a href="{{ "/module_01_basic_building_blocks/07_comparisons.html" | prepend: site.baseurl }}">07 - Comparisons</a>
		<a href="{{ "/module_01_basic_building_blocks/08_logical_operators.html" | prepend: site.baseurl }}">08 - Logical Operators</a>
	</div>
	
	<button class="accordion">Module 02 - Arrays</button>
	<div class="panel">
		<a href="{{ "/module_02_arrays/00_general_purpose_arrays_pt_1.html" | prepend: site.baseurl }}">00 - General Purpose Arrays Pt 1</a>
		<a href="{{ "/module_02_arrays/01_general_purpose_arrays_pt_2.html" | prepend: site.baseurl }}">01 - General Purpose Arrays Pt 2</a>
		<a href="{{ "/module_02_arrays/02_simple_arrays.html" | prepend: site.baseurl }}">02 - Simple Arrays</a>
		<a href="{{ "/module_02_arrays/03_multidimensional_arrays.html" | prepend: site.baseurl }}">03 - Multidimensional Arrays</a>
	</div>
	
	<button class="accordion">Module 03 - Flow Control</button>
	<div class="panel">
		<a href="{{ "/module_03_flow_control/00_if_elseif_else.html" | prepend: site.baseurl }}">00 - if elseif else</a>
		<a href="{{ "/module_03_flow_control/01_case_when_others.html" | prepend: site.baseurl }}">01 - case when others</a>
		<a href="{{ "/module_03_flow_control/02_switch.html" | prepend: site.baseurl }}">02 - switch</a>
		<a href="{{ "/module_03_flow_control/03_while_loops.html" | prepend: site.baseurl }}">03 - while loops</a>
		<a href="{{ "/module_03_flow_control/04_for_loops.html" | prepend: site.baseurl }}">04 - for loops</a>
		<a href="{{ "/module_03_flow_control/05_foreach_loops.html" | prepend: site.baseurl }}">05 - foreach loops</a>
		<a href="{{ "/module_03_flow_control/06_continue_break.html" | prepend: site.baseurl }}">06 - continue break</a>
		<a href="{{ "/module_03_flow_control/07_return_and_output_candidates.html" | prepend: site.baseurl }}">07 - return and Output Candidates</a>
		<a href="{{ "/module_03_flow_control/08_brackets_and_modifiers.html" | prepend: site.baseurl }}">08 - Brackets and Modifiers</a>
	</div>
	
	<button class="accordion">Module 04 - Functions</button>
	<div class="panel">
		<a href="{{ "/module_04_functions/00_parameters.html" | prepend: site.baseurl }}">00 - Parameters</a>
		<a href="{{ "/module_04_functions/01_functions_vs_shiori_events.html" | prepend: site.baseurl }}">01 - Functions vs SHIORI Events</a>
		<a href="{{ "/module_04_functions/02_thinking_with_functions.html" | prepend: site.baseurl }}">02 - Thinking with Functions</a>
		<a href="{{ "/module_04_functions/03_pure_functions.html" | prepend: site.baseurl }}">03 - Pure Functions</a>
		<a href="{{ "/module_04_functions/04_embedded_elements.html" | prepend: site.baseurl }}">04 - Embedded Elements</a>
		<a href="{{ "/module_04_functions/05_recursion.html" | prepend: site.baseurl }}">05 - Recursion</a>
	</div>
	
	<button class="accordion">Module 05 - Common Functions</button>
	<div class="panel">
		<a href="{{ "/module_05_common_functions/00_string_manupulation.html" | prepend: site.baseurl }}">00 - String Manupulation</a>
		<a href="{{ "/module_05_common_functions/01_type_manipulation.html" | prepend: site.baseurl }}">01 - Type Manipulation</a>
		<a href="{{ "/module_05_common_functions/02_variable_manipulation.html" | prepend: site.baseurl }}">02 - Variable Manipulation</a>
		<a href="{{ "/module_05_common_functions/03_array_manipulation.html" | prepend: site.baseurl }}">03 - Array Manipulation</a>
		<a href="{{ "/module_05_common_functions/04_randomness.html" | prepend: site.baseurl }}">04 - Randomness</a>
		<a href="{{ "/module_05_common_functions/05_eval.html" | prepend: site.baseurl }}">05 - EVAL</a>
	</div>
	
	<button class="accordion">Module 06 - File Management</button>
	<div class="panel">
		<a href="{{ "/module_06_file_management/00_opening_and_closing_files.html" | prepend: site.baseurl }}">00 - Opening and Closing Files</a>
		<a href="{{ "/module_06_file_management/01_reading_files.html" | prepend: site.baseurl }}">01 - Reading Files</a>
		<a href="{{ "/module_06_file_management/02_writing_files.html" | prepend: site.baseurl }}">02 - Writing Files</a>
		<a href="{{ "/module_06_file_management/03_deleting_files_and_working_with_directories.html" | prepend: site.baseurl }}">03 - Deleting Files and Working with Directories</a>
	</div>
	
	<button class="accordion">Module 07 - Regular Expressions</button>
	<div class="panel">
		<a href="{{ "/module_07_regular_expressions/00_what_is_regex.html" | prepend: site.baseurl }}">00 - What is Regex</a>
		<a href="{{ "/module_07_regular_expressions/01_character_sets.html" | prepend: site.baseurl }}">01 - Character Sets</a>
		<a href="{{ "/module_07_regular_expressions/02_metacharacters.html" | prepend: site.baseurl }}">02 - Metacharacters</a>
		<a href="{{ "/module_07_regular_expressions/03_regex_functions.html" | prepend: site.baseurl }}">03 - Regex Functions</a>
		<a href="{{ "/module_07_regular_expressions/04_more_on_the_subject.html" | prepend: site.baseurl }}">04 - More on the Subject</a>
	</div>
	
	<button class="accordion">Module 08 - The Preprocessor</button>
	<div class="panel">
		<a href="{{ "/module_08_the_preprocessor/00_what_is_the_preprocessor.html" | prepend: site.baseurl }}">00 - What is the Preprocessor</a>
		<a href="{{ "/module_08_the_preprocessor/01_debug_options.html" | prepend: site.baseurl }}">01 - Debug Options</a>
	</div>
	
	<button class="accordion">Module 09 - SAORI</button>
	<div class="panel">
		<a href="{{ "/module_09_saori/00_what_are_saori.html" | prepend: site.baseurl }}">00 - What are SAORI</a>
		<a href="{{ "/module_09_saori/01_saori-universal.html" | prepend: site.baseurl }}">01 - SAORI-universal</a>
		<a href="{{ "/module_09_saori/02_saori-basic.html" | prepend: site.baseurl }}">02 - SAORI-basic</a>
	</div>
	
	<button class="accordion">Module 10 - YAYA Libraries</button>
	<div class="panel">
		<a href="{{ "/module_10_yaya_libraries/00_yaya_as_shiori.html" | prepend: site.baseurl }}">00 - YAYA as SHIORI</a>
		<a href="{{ "/module_10_yaya_libraries/01_yaya_as_other_things.html" | prepend: site.baseurl }}">01 - YAYA as Other Things</a>
	</div>
	
	<button class="accordion">Module 11 - Debugging</button>
	<div class="panel">
		<a href="{{ "/module_11_debugging/00_peeking_behind_the_curtain.html" | prepend: site.baseurl }}">00 - Peeking Behind the Curtain</a>
		<a href="{{ "/module_11_debugging/01_logging.html" | prepend: site.baseurl }}">01 - LOGGING</a>
		<a href="{{ "/module_11_debugging/02_dissecting_error_messages.html" | prepend: site.baseurl }}">02 - Dissecting Error Messages</a>
		<a href="{{ "/module_11_debugging/03_common_error_messages.html" | prepend: site.baseurl }}">03 - Common Error Messages</a>
		<a href="{{ "/module_11_debugging/04_emergency_mode.html" | prepend: site.baseurl }}">04 - Emergency Mode</a>
	</div>
	
	<button class="accordion">Module 12 - Final Thoughts</button>
	<div class="panel">
		<a href="{{ "/module_12_final_thoughts/00_what_to_do_next.html" | prepend: site.baseurl }}">00 - What to Do Next</a>
		<a href="{{ "/module_12_final_thoughts/01_closing_remarks.html" | prepend: site.baseurl }}">01 - Closing Remarks</a>
	</div>
</div>
</nav>